body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
}
span{
    color:chartreuse;}
    .flexible-container{
        display: flex;
        margin-bottom: 100px;
    
    }
    .me{
        width: 50%;
        padding-left: 30px;

    }
    .me img{
        width: 400px;
    }
    .me h1  {
        padding-left: 20px;
    }
    .me p{
        padding-left: 20px;
    }
    .me h3{
        padding-left: 020px;
    }
    .me a{
        padding-left: 25px;
    }
    .link-button{
        text-decoration: none;
  background-color: #d87093;

   background-image: linear-gradient(orange red);
        padding:  10px 20px;
       border-radius: 7.5px;
       font-weight: 900;
        color: blue;
    }
    .top-banner{
    background-image: url(pic/tyy.jpg);
       background-repeat: no-repeat;
    }
    .dream-big{

        background-image: url(pic/half\ circle.png);
        background-repeat: no-repeat;
        background-position: right;
    }
   
        
    
    .pro-me{
        color: #d87093;
    }
    .half-width{
       margin-left: 25px;
       margin-right: 15px;
      padding-left: 19px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
       box-shadow: 10px 15px 20px 10px orange;
     
    }
   
   .experience-area{
    background-image:url(pic/bac.png);
    background-repeat: no-repeat;
    background-position: 29px left
    ;
    background-size: 190px;
   }
   #full-thing{
    border-left: 10px solid;
    border-image: linear-gradient(orange red);
    border-image-slice:  1;
   }
   #yap-yap{
    border-left: 10px solid;
    border-image: linear-gradient(orange red);
    border-image-slice:  1;
    border-color: aqua;
   }   
   footer p{
    text-align: center;
   }